li{
   list-style: none;
  
   
}
ul{
   padding: 0;
}
a{
   color: #fff;
   text-decoration: none;
}

.header{
   height: 80px;
   background-color: #F8F9FA;
}
.main{
   height: calc(100vh - 80px);
   margin-top: 80px;
}
.aside{
   background-color: #051E34;
   width: 100px;   
}

 .aside-body{
   height: 100%;
 }

 /* main-body */
 .main-body{
   background-color: #F8F9FA;
    overflow: auto;
 }
.aside-body ul li{
   padding: 10px;
}
 .aside-body ul li:hover{
   background-color: darkgrey;
 }

 .badge{
   background-color:#165BBA ;
   color: #fff;
   font-weight: 100;
 }
/* main-body */
.fa-angles-right{
   font-size: .8rem;
}

.offcanvas-width{
   /* width: 576px; */
   --bs-offcanvas-width: 768px;
}

/* main-top */

/* main-content-left-bottom */

.table-title,
.accordion-title,
.form-title{
   background-color: #F7F7F7;
}
/* main-content-right-top */
.form-title,
.table-title,
.main-left-top,
.main-left-bottom,
.main-right-top,
.main-right-bottom{
   border:1px solid #CBCBCB;
}

.accordion{
   border-top:1px solid #CBCBCB ;
}
/* media */

@media only screen and (min-width:992px){
   .aside{
      width: 140px;
      padding: 0 20px;
    
   }
}